html, body{
    height: 100%;
    background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    font-family: 'Barlow Semi Condensed', 'sans-serif';
    color: white;
}


.wrapper{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-header{
    border: 1px solid hsl(217, 16%, 45%);
    border-radius: 24px;
    padding: 20px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.tracker{
    background-color: white;
    color: black;
    border-radius: 24px;
    border: 1px solid black;
    padding: 20px;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lower-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.options{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

