html, body{
    height: 100%;
    background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    font-family: 'Barlow Semi Condensed', 'sans-serif';
    color: white;
}


.wrapper{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-header{
    border: 1px solid hsl(217, 16%, 45%);
    border-radius: 24px;
    padding: 20px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.tracker{
    background-color: white;
    color: black;
    border-radius: 24px;
    border: 1px solid black;
    padding: 20px;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lower-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.options{
    width: 300px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

#rock{
    padding: 15px;
    border: 10px solid transparent;
    background: linear-gradient(white, white) padding-box,radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%)) border-box;
    border-radius: 50%;
    box-shadow: 10px 10px 10px;
}

#paper{
    padding: 15px;
    border: 10px solid transparent;
    background: linear-gradient(white, white) padding-box, radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%)) border-box;
    border-radius: 50%;
    box-shadow: 10px 10px 10px;
}

#scissors{
    padding: 15px;
    border: 10px solid transparent;
    background: linear-gradient(white, white) padding-box, radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%)) border-box;
    border-radius: 50%;
    box-shadow: 10px 10px 10px;
}